@page
@model CRUDNET6RAZORVS2022.Pages.Cursos.IndexModel

@{
    ViewData["Title"] = "Lista de Cursos";
}


<h3> Vea los cursos profesionales en <a href:"https://render2web.com/cursos"> www.render2web.com/cursos </a></h3>